* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-feature-settings: 'palt';
}
html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}
div,
h1,
h2 {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}
h1 {
	padding: 0 0.5em;
	max-width: calc(100vw - 1em);
	word-wrap: break-word;
	letter-spacing: 1px;
	line-height: 1em;
}
h2 {
	padding: 0 0.5em;
}
div.container {
	width: calc(100vw - 0em);
	background-color: aliceblue;
	padding: 0;
	height: calc(100vh - 0);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}
div.header {
	width: calc(100vw - 0em);
	background-color: antiquewhite;
	padding: 0.5em;
}
div.body {
	width: calc(100vw - 0em);
	background-color: aquamarine;
	padding: 0.5em;
}
div.tabhead {
	background-color: cyan;
	display: flex;
	line-height: 2em;
}
div.tabhead .tab {
	background-color: deepskyblue;
	display: flex;
	line-height: 2em;
	padding: 0.2em 1em;
	border-radius: 0.3em 0.3em 0 0;
	margin-right: 0.2em;
	cursor: pointer;
}

div.tabhead .tab.selected {
	font-size: 110%;
	font-weight: bold;
	background-color: dodgerblue;
}
div.tabbody {
	background-color: darkturquoise;
}
div.tabbody .tb {
	padding: 0.5em 0;
	display: none;
}
div.tabbody .tb.selected {
	display: block;
}
div.tabbody .tb .form div.row {
	width: calc(100% - 0em);
	padding: 0.5em 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.item {
	padding: 0.5em;
	min-width: calc(1100 / 4) px;
	background-color: lightskyblue;
	margin-bottom: 0em;
}
.col {
	text-align: center;
}
.col.file {
	width: 40vw;
}
.col.file input {
	width: 40vw;
}
.col.title {
	font-weight: bold;
	background-color: lightskyblue;
}
.col img {
	display: inline-block;
	width: calc(50vw - 1.5em);
	height: calc(50vw - 1.5em);
	max-width: 900px;
	max-height: 900px;
	background-color: white;
}
.col.dl img {
	cursor: pointer;
}
.selected {
	display: block;
}
a.dlLinkAncker {
	position: absolute;
	top: -10em;
}
canvas {
	display: none;
}
button {
	padding: 1em;
	min-width: 30vw;
}
