* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-feature-settings: 'palt';
}
html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}
div,
h1,
h2 {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}
h1 {
	padding: 0 0em;
	max-width: calc(100vw - 1em);
	word-wrap: break-word;
	letter-spacing: -2px;
	line-height: 0.9em;
}
h2 {
	padding: 0 0.5em;
}
div.container {
	width: calc(100vw - 0em);
	background-color: aliceblue;
	padding: 0;
	height: calc(100vh - 0);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}
div.header {
	width: calc(100vw - 0em);
	background-color: antiquewhite;
	padding: 0.5em 0;
}
div.body {
	width: calc(100vw - 1em);
	background-color: aquamarine;
	padding: 0.5em;
}
div.tabhead {
	background-color: cyan;
	display: flex;
	line-height: 2em;
}
div.tabhead .tab {
	background-color: deepskyblue;
	display: flex;
	line-height: 2em;
	padding: 0.2em 1em;
	border-radius: 0.3em 0.3em 0 0;
	margin-right: 0.2em;
	cursor: pointer;
}

div.tabhead .tab.selected {
	font-size: 110%;
	font-weight: bold;
	background-color: dodgerblue;
}
div.tabbody {
	background-color: darkturquoise;
}
div.tabbody .tb {
	padding: 0.5em 0;
	display: none;
}
div.tabbody .tb.selected {
	display: block;
}
div.tabbody .tb .form div.row {
	width: calc(100% - 0em);
	padding: 0.1em 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.item {
	padding: 0.1em 0.5em;
	min-width: calc(1100 / 4) px;
	background-color: lightskyblue;
	margin-bottom: 0em;
}
.col {
	text-align: center;
}
.col.file {
	width: 40vw;
}
.col.input input {
	width: calc(100vw - 2em);
}
.col.file input {
	width: 40vw;
}
.col.title {
	font-weight: bold;
	background-color: lightskyblue;
}
.col img {
	display: inline-block;
	width: calc(50vw - 1.5em);
	height: calc(50vw - 1.5em);
	max-width: 250px;
	max-height: 250px;
	background-color: white;
}
.col.dl img {
	cursor: pointer;
}
.selected {
	display: block;
}
a.dlLinkAncker {
	position: absolute;
	top: -10em;
}
canvas {
	display: none;
}
button {
	padding: 1em;
	min-width: 30vw;
}
.col.input {
	width: calc(100vw - 2em);
}
.col.input input {
	max-width: calc(100vw - 5em);
}
.col.size input {
	display: inline-block;
	max-width: 5em;
}
.col.sig {
	width: calc(100vw - 2em);
	color: tomato;
	font-size: 45%;
	word-wrap: break-word;
}
h2 span.passwd {
	display: inline-block;
	font-size: 50%;
	padding: 0 0.2em 0 2em;
	max-width: 50vw;
	height: 1em;
	line-height: 3em;
	vertical-align: top;
}
h2 span.passwd input {
	display: inline-block;
	max-width: calc(100% - 2em);
	line-height: 2em;
	margin-top: -2em;
	font-size: 120%;
}
.loading {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: none;
}
.loading.on {
	display: block;
	transition: all 1s;
	background-color: rgba(0, 95, 79, 0.541);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.loading.on .indicator,
.loading.on .indicator:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
.loading.on .indicator {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	transform: translateZ(0);
	animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
